/************************************************************/
/*
/************************************************************/
html {
    height: 100%;
    overflow-x: hidden;
}

body {
    font-family: IRANSansFa, tahoma, 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 1.46666667;
    color: #777777;
    background-color: #ffffff;
    font-weight: 300;
    direction: rtl;
}

/***************
/* Header
 ***************/
.front-header {
    position: absolute;
    z-index: 1000;
    background-color: #303e555c;
    width: 100%;
    padding: 10px;
    color: white;
    border-bottom: #c6e7ff solid 1px;
}

.front-header .btn-signout {
    color: red;
    float: left;
    margin-left: 50px;
}

.front-header .btn-signin {
    color: #cbe8ff;
    margin-right: 50px;
}

/***************
/* Signin
 ***************/

input[name=password] {
    -webkit-text-security: disc;
    text-security: disk;
    -mox-text-security: disk;

}

.background-image-signin {
    background-image: url(../images/bg-signin3.jpg);
    position: fixed;
    height: 100%;
    background-repeat: repeat-x;
    width: 100%;
}

.signin-box {
    background-color: rgba(28, 43, 73, 0.77);
    border: 1px solid #0092c6;
    color: #3e9cd5;
    margin-bottom: 200px;
    border-radius: 0px;
    padding: 20px;
    margin-top: 173px;
}

.signin-box .form-control {
    background-color: rgba(255, 255, 255, 0.16);
    border-radius: 0px;
    color: #1db4ff;
}

.signin-box .btn-signin {
    color: #98e1ff;
    width: 125px;
    background-color: rgba(24, 102, 215, 0.49);
    border: 1px solid #6db6ff;
    float: left;
}

.signin-box .btn-signin-force {
    color: #ffe1dd;
    background-color: rgba(255, 68, 84, 0.49);
    border: 1px solid #ff3d2b;
    float: left;
}

.signin-box .btn-signin-cancel {
    color: #AB1400;
    background-color: rgba(200, 200, 200, 0.83);
    border: 1px solid #FFF;
    float: left;
    margin-left: 10px;
}

.notice {
    position: absolute;
    z-index: 100;
    left: 0px;
    right: 0px;
    padding: 10px 333px;
    top: 50px;
}

.notice .alert-notice {
    padding: 10px;
}

.signin-bot-img > div {
    margin: 8px auto !important;
}

/***************
/* Error pages
 ***************/
.background-image-blur {
    position: fixed;
    height: 100%;
    background: url('../images/bg-error.jpg') repeat-x;
    width: 100%;
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
}

.white-bg-transparent {
    background-color: rgba(241, 236, 236, 0.71);
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    color: white;
    margin-bottom: 120px;
    text-align: center;
    border-radius: 0px;
    margin-top: 200px;
    padding: 40px 20px;
}

@media (min-width: 767px) {
    .white-bg-transparent .jumbotron {
        margin: 0px;
        padding-right: 0px;
        padding-left: 0px;
        padding-top: 0px;
    }
}

/*--------------------------------
         Error 500
----------------------------------*/

.err-f-500-header > h1 {
    color: #a94442;
    font-size: 6em;
}

.err-f-500-header > .err-send-id {
    color: #ff3300;
    font-weight: 300;
    font-size: 1.5em;
}

.err-f-500-header > .err-id {
    padding: 5px;
    color: #066CD4;
    border-radius: 5px;
    display: inline-block;
    font-size: 1.2em;
    font-weight: 300;
    margin: 20px;
}
