/*********************#- 1397/03/20 06:02:34 (Sayed)  -#*/
/*********************#- 1397/04/08 17:40:47 (Meiras)  -#*/
/*********************#- 1397/04/20 12:03:44 (Emsisoft_V4)  -#*/
/*********************#- 1397/04/24 21:21:41 (Baravard)  -#*/
/****DO-NoT-REMOVE-IT*#- ==============  START  ============== -#*/
.print .print-off,.print-off{
    display: none;
}
.navbar {
    display: none;
}
.main-navigation{
    display: none;
}
.hidden-print {
    display: none;
}
.breadcrumb {
    display: none;
}
.page-header {
    display: none;
}
.footer {
    display: none;
}
.main-container {
    margin: 0 !important;
    padding: 0 !important;
}
.main-content .container{
    min-height: auto !important;
    border: none !important;
}
/****DO-NoT-REMOVE-IT*#- ==============  END  ============== -#*/
